<h1>
    О работе сайта.
</h1>

<h4>
    Пример работы сайта с базой данных.
</h4>
<p>Для компании содержащей свой штат сотрудников по ремонту техники организации.</p>
<p>
    Возможности:
    <ul>
        <li>
            Разграничение прав
        </li>
        <li>
            Редактирование информации о технике (Tablets, Personal computers)
        </li>
        <li>
            Редактирование информации о пользователях (Equipment user)
        </li>
        <li>
            Создание «ремонтных листков» (Repair lists)
        </li>
    </ul>
</p>
<p>
    В базе данных хранится информация:
    <ul>
        <li>
            Сотрудниках фирмы использующие технику в своей работе  (equipment user)
        </li>
        <li>
            Сотрудники фирмы  занимающиеся ремонтом техники (Repaire man)
        </li>
        <li>
            •	Информация о техники предприятия (Tablets, Personal computers)
            <ul>
                <li>
                    Программное обеспечение (Software)
                </li>
                <li>
                    Аппаратное обеспечение (Hardware)
                </li>
            </ul>
        </li>
        <li>
            Информация о ремонтах техники (Repair lists)
        </li>
    </ul>
</p
<p>
    <ul>
        <li>
            Model-View-Controller паттерн
        </li>
        <li>
            Entity Framework (EF) Core
        </li>
        <li>
            AspNet Identity
        </li>
    </ul>
</p>