@model User


<div class="row">
    <div class="text-block" style="max-width: 360px; margin: 0 auto;">
        <form method="post" asp-action="Login" asp-controller="Identity">
            <h3>Авторизация</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <input asp-for="Name" class="form-control" placeholder="Фамилия" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Password" class="form-control" type="password" placeholder="Пароль" width="200" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group center-block">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input type="checkbox" asp-for="RememberMe" />
                    </label>
                </div>
            </div>
            <div class="form-group center-block">
                <button type="submit" class="btn btn-default">Войти</button>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}